/* base styles */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #eeeeee;
  --secondary-color: #dddddd;
  --accent-color: #ffbb2a;
  --accent-color-dark: #ffae00;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: #333333;
  padding: 0.5rem;
  display: block;
}

a:hover {
  text-decoration: underline;
}

/* wrapper */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}

/* header */
.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  justify-content: center;
}

/* logo */
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo__icon {
  margin-right: 0.5rem;
}

/* header nav */
.header .nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
}

/* cta */
.cta {
  text-align: center;
}

.cta__text {
  font-size: 1.3rem;
}

.cta__input {
  padding: 0.5rem;
  width: 87%;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border: 1px solid #333333;
  border-radius: 5px;
}

.btn {
  background-color: var(--accent-color);
  border: none;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: block;
  border-radius: 5px;
}

.cta__btn {
  font-weight: bold;
}

.card__btn {
  margin-top: 1.75rem;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  margin-bottom: 0.8rem;
}

.btn:hover {
  background-color: var(--accent-color-dark);
  transition: 1250ms;
}

/* features section */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature__icon {
  display: none;
  color: var(--accent-color-dark);
}

/* how it works section */
.how-it-works__video {
  width: 100%;
  height: 250px;
  margin-bottom: 5rem;
}

/* pricing section */
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: var(--primary-color);
  width: 70%;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.card__header {
  background-color: var(--secondary-color);
  width: 100%;
  margin-top: 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.7rem;
}

.card__price {
  text-align: center;
  font-size: 1.4rem;
}

.card__details {
  list-style: none;
  padding: 0 2rem;
  text-align: center;
}

.card__detail {
  margin-bottom: 0.6rem;
}

/* footer */
.footer {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 300px) {
  .logo__text {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 550px) {
  .logo__text {
    font-size: 2rem;
  }
  .feature {
    text-align: left;
  }
  .feature:last-child {
    margin-bottom: 3rem;
  }
  .feature__header {
    font-size: 1.9rem;
    margin-bottom: 0;
  }
  .feature__icon {
    display: block;
    margin-right: 1.5rem;
  }
}

/* @media screen and (min-width:) */
