/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  background-color: #eeeeee;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  background-color: black;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo__icon {
  margin-right: 1rem;
}

.logo__text {
  font-size: 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* header nav */
.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: black;
  transform: translateX(100vw);
  transition: transform 0.4s ease-in-out;
}

.menu-items.open {
  transform: translateX(0);
}

.menu-items li {
  width: 100vw;
  height: 100%;
}

.menu-items li a {
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
  color: white;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-items li a:hover {
  color: #cccccc;
  text-decoration: underline;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

/* create menu icon */
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}

.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
  transform: translateY(0.5rem);
}

/* menu animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: white;
}

.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: white;
}

/* main section */
.main {
  width: 90%;
  margin: 0 auto;
}

/* cta section */
.cta {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__text {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.cta__input {
  border-radius: 5px;
  padding: 0.3rem;
  border: 1px solid #444444;
  margin-bottom: 0.6rem;
  width: 90%;
  max-width: 275px;
}

.btn {
  padding: 0.3rem 0;
  width: 50%;
  background-color: #f8ce25;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #f0c000;
  transition: background 0.2s ease-in-out;
}

.cta-btn {
  font-weight: bold;
  font-size: 1rem;
  max-width: 150px;
}

/* features section */
.features {
  margin-top: 5rem;
  text-align: center;
}

.feature {
  margin: 2rem 0;
  line-height: 1.3;
}

.feature__header {
  font-size: 1.5rem;
}

.feature__icon {
  display: none;
  color: #f0c000;
}

/* demo section */
.demo {
  margin: 5rem 0;
  display: flex;
  align-items: center;
}

.demo__video {
  height: 200px;
  width: 100%;
}

/* pricing section */
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0.8rem 0;
  width: 90%;
  max-width: 300px;
  background-color: #eeeeee;
  text-align: center;
  border: 1px solid black;
}

.card__header {
  background-color: #dddddd;
  padding: 0.3rem;
}

.card__price {
  font-size: 1.4rem;
  margin-top: 0.8rem;
}

.card__details {
  list-style: none;
  padding: 1rem 2rem;
}

.card__detail {
  padding: 0.2rem 0;
}

.card__btn {
  text-transform: uppercase;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
}

/* footer */
.footer {
  margin-top: 2rem;
  width: 100%;
  background-color: #dddddd;
  padding: 1rem;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  max-width: 50%;
  margin: 0 auto;
}

.footer-nav-item a {
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.footer__text {
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries */

@media screen and (min-width: 650px) {
  /* demo section */
  .demo__video {
    height: 250px;
  }
}

/* tablet */
@media screen and (min-width: 800px) {
  /* pricing section */
  .pricing {
    flex-direction: row;
    gap: 5rem;
  }
  /* demo section */
  .demo__video {
    height: 350px;
  }
}

/* laptops */
@media screen and (min-width: 1020px) {
  /* header */
  .header {
    align-items: center;
  }
  /* header nav */
  .menu-btn {
    display: none;
  }
  .menu-items {
    transform: translateX(0);
    flex-direction: row;
    height: 100%;
    position: static;
  }
  .menu-items li {
    width: unset;
    padding: 0 0.5rem;
  }
  .menu-items li a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out;
  }
  /* features section */
  .features {
    text-align: unset;
  }
  .features div:nth-child(1) {
    position: relative;
    right: 140px;
  }
  .features div:nth-child(2) {
    position: relative;
    right: 10px;
  }
  .features div:nth-child(3) {
    position: relative;
    right: 65px;
  }
  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature__icon {
    display: block;
    align-self: center;
    justify-self: right;
    min-width: 150px;
  }
  /* demo section */
  .demo__video {
    height: 500px;
  }
}
